ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }
  .mySlides {display: none}
  
  .main {
    margin-left: 160px; 
    font-size: 24px; 
    padding: 0px 10px;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    color: black;
  }

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid grey;
  }
}

h1 {
  text-align:center;
  background-color: white;
  color: black;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 34px;
}

h2 {
  position: relative;
  right: 120px;
  text-align: left;
  padding: 0%;
  margin-left: 0px;
  font-size: 32px;
}

form input {
  width: 100%;
  margin: 5px;
  border: 2px solid white;
  padding: 10px;
  /* background-color: #000; */
  background-color: transparent;
  font-weight: 600;
  color: white;
  font-family: "Lato", sans-serif;
  color: red;
 }

 form input:focus {
  border: none;
 }

 textarea {
  min-height: 100px;
  background-color: transparent;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 98%;
  margin: 5px;
  border: 2px solid white;
  resize: none;
  font-weight: 600;
  padding: 10px;
  border: #111;
}

p {
  padding: 0%;
  text-align: left;
  margin-left: 0px;
  position: relative;
  right: 120px;
  font-size: 15px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.link {
  padding: 0%;
  text-align: left;
  margin-left: 0px;
  position: relative;
  right: 120px;
  font-size: 15px;
}

.image {
  position: relative;
  left: 120px;
}

/* Navbar removing underline */ 

.nav3 {
  text-decoration: none;
  font-size: 15px;
}

a.nav3, a.nav3:visited {
  color: white;
}

a.nav3:hover {
  color: black;
  background-color: white;
}


.newsletter_form input {
  border: 1px solid black;
}

fieldset {
  background-color: black;
  padding: 0%;
}

.newsletter {
  text-align:center;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
}

.extra_space {
  color: white;
}

.submit {
  color: white;
}

/* SLIDESHOW: */

* {box-sizing:border-box}
     
     
     /* Slideshow container */
     .slideshow-container {
       max-width: 1000px;
       position: relative;
       margin: auto;
     }
     
     
     /* Hide the images by default */
     .mySlides {
       display: none;
     }
     
     
     /* Next & previous buttons */
     .prev, .next {
       cursor: pointer;
       position: absolute;
       top: 50%;
       width: auto;
       margin-top: -22px;
       padding: 16px;
       font-weight: bold;
       font-size: 18px;
       transition: 0.6s ease;
       border-radius: 0 3px 3px 0;
       user-select: none;
     }
     
     
     /* Position the "next button" to the right */
     .next {
       right: 0;
       border-radius: 3px 0 0 3px;
     }
     
     
     /* On hover, add a black background color with a little bit see-through */
     .prev:hover, .next:hover {
       background-color: rgba(237, 50, 50, 0.8);
     }
     
     
     /* Caption text */
     .text {
       color: #d52c29;
       font-size: 15px;
       padding: 8px 12px;
       position: absolute;
       bottom: 8px;
       width: 100%;
       text-align: center;
     }
     
     
     /* Number text (1/3 etc) */
     .numbertext {
       color: #e8a1a1;
       font-size: 12px;
       padding: 8px 12px;
       position: absolute;
       top: 0;
     }
     
     
     /* The dots/bullets/indicators */
     .dot {
       cursor: pointer;
       height: 15px;
       width: 15px;
       margin: 0 2px;
       color: rgb(173, 37, 37);
       border-radius: 50%;
       display: inline-block;
       transition: background-color 0.6s ease;
     }
     
     
     .active, .dot:hover {
       background-color: #e8d52e;
     }
     
     
     /* Fading animation */
     .fade {
       animation-name: fade;
       animation-duration: 1.5s;
     }
     
     
     @keyframes fade {
       from {opacity: .4}
       to {opacity: 1}
     }
     
     .slider {
      width: 500px;
      height: 300px;
      background-color: yellow;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      text-align: center;
      overflow: hidden;
    }
    .image-container {
      width: 1500px;
      background-color: white;
      height: 300px;
      clear: both;
      position: relative;
      -webkit-transition: left 2s;
      -moz-transition: left 2s;
      -o-transition: left 2s;
      transition: left 2s;
    }
    .slide {
      float: left;
      margin: 0px;
      padding: 0px;
      position: relative;
    }
    #slide-1:target ~ .image-container {
      left: 0px;
    }
    #slide-2:target ~ .image-container {
      left: -500px;
    }
    #slide-3:target ~ .image-container {
      left: -1000px;
    }
    .buttons {
      position: relative;
      top: -20px;
    }
    .buttons a {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50px;
      background-color: white;
    }